.carousel-container {
  width: 100%;

  margin: 3rem auto;
  overflow: hidden;
  .carousel-item-container {
    width: 100%;
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    height: 400px;

    > div {
      min-height: 300px;
    }

    > div.image {
      width: 100%;
      @include flex-container;
      img {
        margin: auto;
        max-width: 80%;
        max-height: 100%;
      }
    }
    div:nth-child(2) {
      @include flex-container(column, space-between);
      width: 100%;
      font-family: "Roboto", sans-serif;
      h2 {
        font-weight: bold;
        margin-bottom: 1rem;
      }
      h3 {
        font-size: 1.4rem;
        width: 95%;
      }
      p {
        margin: 0;
        justify-self: flex-end;
      }

      div:nth-child(2) {
        width: 95%;
        margin-bottom: 1rem;
        @include flex-container($justifyContent: "space-between");
        svg {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  .carousel-item.active {
    opacity: 1 !important;
  }
}
span.horizontal-line {
  display: block;
  width: 80%;
  height: 2px;
  margin: 3rem auto;
  background-color: #000;
}
