//All Froms
form {
  width: 80%;
  font-size: 1.4rem;
  margin: auto;

  label {
    width: 150px;
    line-height: 31px;
  }
}

.input {
  @include flex-container;
}

input,
select,
textarea {
  border-bottom: 1px solid black;
}

.below {
  font-size: 0.8rem;
}
p.error,
.add-btn.error {
  color: $red-danger;
}

.input.error input,
.input.error select,
.input.error textarea {
  border-color: $red-danger;
}

p.warning,
.add-btn.warning {
  color: $yellow-warning;
}
.input.warning input,
.input.warning select,
.input.warning textarea {
  border-color: $yellow-warning;
}

//Modal form
.modal-custom.modal-form {
  h3 {
    margin-top: 1rem;
    text-align: center;
  }
  form {
    margin-top: 4rem;
    height: 80%;
    width: 80%;
    @include flex-container(column, space-between);
    .below {
      transform: translateX(9.4rem) translateY(-1rem);
      margin: 0;
    }
    .below.error:nth-of-type(3),
    .below.error:nth-of-type(5) {
      transform: translateX(9.4rem) translateY(-2rem);
    }
    div {
      width: 100%;
    }

    > div:nth-child(1) {
      input {
        flex-grow: 1;
        flex-basis: 1;
      }
    }
    .button {
      margin-top: 3rem;
    }
  }
}

//User Card Form
.form-create {
  //background-color: #e0e0e0;
  width: 1000px;
  height: auto;
  //border: 1px solid black;
  margin: 0 0 3rem 0;
  padding: 1rem;
  .below {
    transform: translateX(15.5%) translateY(-2rem);
  }

  h2 {
    text-align: center;
    margin-bottom: 3rem;
  }

  .input {
    width: 100%;
    margin: 0 auto 3rem auto;
    height: auto;

    input,
    textarea,
    select {
      width: 79%;
    }
    textarea {
      min-height: 31px;
      line-height: 31px;
    }

    svg {
      margin-left: 0.8rem;
      cursor: pointer;
      transform: translateY(-0.3rem);
    }
  }

  .input:nth-of-type(7) select,
  svg {
    align-self: flex-end;
  }
  div:nth-last-of-type(1) {
    margin: 4rem 2.5% 0 0;
    @include flex-container($justifyContent: space-between);
  }
}

button.create {
  height: 40px;
  width: 45%;

  border-radius: 5px;
  background-color: $blue-primary;
  color: #fff;

  &:hover {
    color: $yellow-highlight;
  }
}
