.card {
  padding: 0.5rem;
  height: 360px;
  width: 300px;
  @include flex-container(column, space-between);
  transition: all 1s;
  font-family: "roboto";

  h3 {
    height: 80px;
    text-overflow: ellipsis;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  p {
    height: 140px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  img {
    max-width: 280px;
    height: 140px;
    margin: 0 auto 1rem auto;
  }
  h6 {
    margin: 0;
    font-weight: 100;
    font-size: 0.9rem;
  }
  > div {
    @include flex-container($justifyContent: space-between);
    width: 100%;
  }

  path {
    transform: scale(1.2) translateY(2rem) translateX(-15rem);
  }
}

.button-container {
  margin: 3rem auto;
  max-width: 660px;
  @include flex-container;
  .button {
    margin-bottom: 0;
  }
}
