footer {
  background-color: $blue-one;
  color: #fff;
  width: 100%;
  font-size: 1.3rem;
  > div {
    width: 80%;
    margin: auto;
    padding: 1rem 0;
    @include flex-container(
      $justifyContent: space-around,
      $alignItems: flex-start
    );
    > div:nth-child(1) {
      width: 30%;
      padding-bottom: 5rem;
      p a {
        text-decoration: underline;
      }

      p a:hover {
        color: $yellow-highlight;
      }
    }
    > div:nth-child(2) {
      order: 3;
      width: 30%;
      @include flex-container($justifyContent: flex-end);
      div p:hover {
        color: $yellow-highlight;
      }
    }
    > div:nth-child(3) {
      width: 30%;
      align-self: flex-end;
      order: 2;

      div {
        @include flex-container($justifyContent: space-between);
        width: 130px;
        margin: auto;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        div {
          height: 2rem;
          width: 2rem;
          border-radius: 50%;
          background-color: #fff;
          color: $blue-one;
        }
        path {
          transform: translateX(13rem);
        }
      }
    }
  }
}
