//All Froms

form {
  width: 80%;
  font-size: 1.4rem;
  margin: auto;

  label {
    width: 150px;
    height: 100%;
    line-height: 31px;
  }
}

.input {
  @include flex-container;
}

input,
select {
  border-bottom: 1px solid black;
}

//Modal Form

.modal-bg {
  padding-top: 6rem;
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}
.bg-active {
  visibility: visible;
  opacity: 1;
}
.modal-custom {
  position: relative;
  background-color: #fff;
  width: 40%;
  min-width: 340px;
  height: 60%;
  height: 640px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  form {
    margin-top: 3rem;
    height: 100%;
    width: 80%;
    @include flex-container(column, space-between);

    .below {
      font-size: 0.8rem;
      margin: -1.6rem 0 0 150px;
    }
    .below-btn {
      font-size: 0.8rem;
      position: absolute;
      bottom: 0.5rem;
    }
    p.error {
      color: red;
    }
    .input.error input {
      border-color: red;
    }

    div {
      width: 100%;
    }

    > div:nth-child(1) {
      input {
        //   width: 85%;
        flex-grow: 1;
        flex-basis: 1;
      }
    }

    > div:nth-child(3) {
      // select {
      //   width: 35%;
      // }
    }
    .button {
      margin-top: 3rem;
    }
  }

  span.modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    svg {
      height: 1.3rem;
      width: 1.3rem;
    }
  }

  h3 {
    margin-top: 1.5rem;
  }
}

.modal-active {
  display: initial;
}

//User Card Form

.form-create {
  width: 600px;
  height: 400px;
  border: 1px solid black;
  margin: 3rem 0 6rem 0;
  padding-left: 1rem;
  @include flex-container(column, space-around);
  .input {
    width: 100%;
    input {
      width: 70%;
    }

    svg {
      margin-left: 2rem;
      transform: translateY(10px);
      cursor: pointer;
    }
  }
  .input:nth-child(4) input,
  .input:nth-child(5) input {
    width: 60%;
  }
}
button.create {
  width: 400px;
  height: 40px;
  border-radius: 5px;
  background-color: $blue-one;
  color: #fff;
  align-self: flex-end;
  transform: translateX(29rem);
  &:hover {
    color: $yellow-highlight;
  }
}

//Search Filter
