.card {
  padding: 0.5rem;
  height: 374px;
  width: 300px;
  @include flex-container(column, space-between);
  transition: all 1s;

  h3 {
    height: 80px;
    text-overflow: ellipsis;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  p {
    height: 140px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  img {
    width: 200px;
    height: 140px;
    margin: 0 auto 1rem auto;
  }
  h6 {
    font-weight: 100;
    size: 0.6rem;
  }
  div {
    transform: translateY(0.5rem);
  }
  path {
    transform: scale(1.5) translateY(-20rem) translateX(130rem);
  }
  path:hover {
  }
}

.display-card {
}
