.news-card-grid {
  display: grid;
  height: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  justify-content: center;
  grid-template-columns: repeat(4, 300px);
  row-gap: 3rem;
  column-gap: 3rem;
  transition: all 1s;
}

.user-grid {
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  row-gap: 3rem;
  column-gap: 3rem;
  justify-content: center;
}

@media only screen and (max-width: 1560px) {
  .news-card-grid {
    grid-template-columns: repeat(3, 300px);
  }
}

@media only screen and (max-width: 1150px) {
  .news-card-grid {
    grid-template-columns: repeat(2, 300px);
  }
}

@media only screen and (max-width: 640px) {
  .news-card-grid {
    grid-template-columns: repeat(1, 300px);
  }
}

.display-news-grid {
  margin-top: 3rem;
  height: 600px;
}
