.slider {
  @include flex-container($justifyContent: space-between);

  div {
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0 1rem;
    height: 3rem;
    width: 16rem;
    font-size: 1.5rem;
    line-height: 3rem;
    color: #fff;
    background-color: #000;
  }
  > div:nth-child(1) {
    @include flex-container($justifyContent: space-between);
  }
}

//style for search arrow
.menu-btn {
  background-color: transparent !important;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: all 0.5s ease-in-out;
  .menu-arrw {
    transition: all 0.5s ease-in-out;
    background-color: transparent;
  }
  .menu-arrw::before,
  .menu-arrw::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2.5px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }
  .menu-arrw::before {
    transform: translateY(18px) rotate(31deg);
  }
  .menu-arrw::after {
    transform: translateY(28px) rotate(-31deg);
  }
}
