.body {
  width: 80%;
  min-height: 60vh;
  margin: 3rem auto;
}

.body.create {
  @include flex-container($justifyContent: space-around);
  > div {
    height: 400px;
    width: 400px;
    border: 1px solid black;
  }
}
