.body {
  width: 80%;
  margin: auto;
}

.body.create {
  @include flex-container($justifyContent: space-between);
  > div {
    margin-top: 3rem;
    height: 400px;
    width: 400px;
    border: 1px solid black;
  }
}
