@mixin flex-container(
  $flexDirection: row,
  $justifyContent: flex-start,
  $alignItems: flex-start,
  $alignContent: flex-start
) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
  align-content: $alignContent;
}

@mixin reset {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  a:link,
  a:active,
  a:visited,
  a:hover {
    color: inherit;
    text-decoration: none;
  }
}
